---
IndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AlignOperands: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
SortIncludes: false
SkipMacroDefinitionBody: true
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
