asm
assets
build
expected
hell
linkers
rom
!rom/**/.gitkeep
objdiff.json

tools/mwcps2
tools/wibo-*
tools/binutils-mips-ps2-decompals
tools/objdiff-*
tools/m2ctx.py
tools/alessatool/migrate.py
tools/mwccgap.version

.DS_Store
.venv
**/.vscode/*
!.vscode/c_cpp_properties.json
.splache
__pycache__
*decorated.s
tmp*.c
ctx.c
*.log
